{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}


	<form class=" justify-content-center colors" style="width: 25rem;">
    <h2 class="contactTitle">Contactez-nous</h2>
  <!-- Name input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example1" name="Name">Nom</label>
    <input placeholder="Nom" type="text" id="form4Example1" class="form-control" />
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example2">Adresse mail</label>
    <input placeholder="Adresse mail" type="email" id="form4Example2" class="form-control" />
  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form4Example3">Message</label>
    <textarea placeholder="Message" class="form-control" id="form4Example3" rows="4"></textarea>
  </div>

  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form4Example4"
      checked
    />
    <label class="form-check-label" for="form4Example4">
      Send me a copy of this message
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
</form>
{% endblock %}
